extends layout

block content
    if user
        h3 Welcome back #{user.name}!
    h1 Bookstore
    each book in books
    
        label Title:
        a(href="/book/" + book._id) #{book.title}
        p Author: #{book.author}
        p Pages: #{book.pages}
        p Rating: #{book.rating}
        p Genres:
        p Description: #{bookInfo.description}
        p Publisher: #{bookInfo.publisher}
        p Publish Date: #{bookInfo.publishDate}
        ul
        each genre in book.genres
            li #{genre}
        br
        br
