extends courseClass 

block content
    h1 Completed Course
    
    h2 = id
    for id in ids
    p #{id}

    h2 = name
    for name in names
    p #{name}

    h2 = departament
    for departament in departaments
    p #{departament}

    h2 = description
    for departament in descriptions
    p #{description}

    h2 = gradeAchieved
    for gradeAchieved in gradeAchieveds
    p #{gradeAchieved}