extends layout

block content 
    h1 Filter Course

    label id
    input(
        name="id"
        type="number"
    )
    br
    label course name
    input(
        name="course name"
        type="text"
    )
    br 
    label deparment
    input(
        name="deparment"
        type="text"
    )
    br
    label open course
    input(
        name="open course"
        type="text"
    )
    br
    label filter course
    input(
        name="filter course"
        type="text"
    )